@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
// importar paginas parciales 
@import 'config'; // variables 
@import 'btn';

@function size($value){
  @return $value * $unit
};
//bloques de estilos 
@mixin reset-pm{
  padding: 0;
  margin: 0;
};
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
};


*{
  @include reset-pm();
  box-sizing: border-box;
}

body{
  background-color: $primary-color;
  font-family: $font-family;
}
a{
  color: $secondary-color;
  text-decoration: none;
}
h1{
  font-size: size(10);
}
h2{
  font-weight: bolder;
  font-size: size(9);
}
h3{
  font-weight: lighter;
  font-size: size(3);
}
img{
  width: 90%;
  height: 100%;
  box-shadow: $box-shadow;
}
.container{
  background-color: white;
  margin: 100px auto;
  width: 1280px;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
  background-image: url(https://us.123rf.com/450wm/andreykuzmin/andreykuzmin1504/andreykuzmin150400011/38786784-fondo-mesa-de-la-cocina-con-una-tela-roja-de-picnic.jpg?ver=6);
  background-size: cover;
  
}
ul{
  @include reset-pm();
  list-style: none;
  display: flex;
  gap: 20px;
  li{
    a{
      @include btn($background-color: $terciary-color, $color:$font-color, $bold: 'true');
      &:hover{
        @include btn($secondary-color,$terciary-color ,'false' );
        box-shadow: $box-shadow
      }
     
    }
  }
}

header{
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
}
.prices{
  .prev{
    font-size: size(2);
    font-weight: bolder;
    color: $font-color;
    text-decoration: line-through;
  }
  .now{
    font-size: size(5);
    font-weight: bolder;
  }
}
.row{
  display: flex;
  align-items: center;
  .col{
    width: 50%;
  }
  .col-30{
    width: 30%;
  }
  .col-70{
    width: 70%;
  }
}
.m-auto{
  margin: 0 auto;
};
//combinaciones de margenes con for
@for $i from 1 to $limit{
  .m-#{$i}{
    margin: $i * $unit;
  }
  .p-#{$i}{
    padding: $i * $unit;
  }
  //top y bottom
  .py-#{$i}{
    padding: $i * $unit;
  }
}
@for $i from 1 to 4{
  .w-#{$i}{
    width: $i * 25%;
  }
}
